$myFont: monospace;

#adm1n {
    height: 60%;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.pseudo {
    width: 20%;
    color: white;
    margin-left: 40%;
    margin-right: 40%;
    display: block;
    margin-bottom: 3%;
    text-align: center;
    font-family: $myFont;
}

.css3but {
    color: white;
}