<section id="footer">
  <a class="minilogL" rel="preconnect" href="https://github.com/m1k431"><img src="/static/img/gitHubMark.png" alt="git"
      height="35" /><img src="/static/img/gitHubW.png" alt="git" height="35" /></a>
  <a class="minilogR" rel="preconnect" href="https://www.linkedin.com/in/mika%C3%ABl-garcia/"><img
      src="/static/img/LinkedIn_Logo.svg" alt="linkedin" height="35" /></a>
</section>