<head>
  <title>IBM RPG &amp; Javascript Developer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.6">
  <meta name="description" content="My Javascript Portfolio">
  <meta property="og:title" content="IBM RPG &amp; Javascript Developer">
  <meta property="og:type" content="image">
  <meta property="og:url" content="http://www.mikael.ml">
  <meta property="og:image" content="//mikael.ml/static/img/ogImage.png">
  <meta property="og:description" content="My Javascript Portfolio">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/cv.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <style>
    #mapid {
      height: 320px;
    }
  </style>
</head>
<nav id="navBar">
  <ul>
    <li> <a class="nav css3button" id="intro" rel="preconnect" href="/">Intro</a></li>
    <li><a class="nav css3button" id="resume" rel="preconnect" href="/cv">CV</a></li>
    <!--lia#admin.nav(rel='preconnect' href='/adm1n' class='css3button') aL1v3-->
    <li><a class="nav css3button" id="adhd" rel="preconnect" href="/giftedADHD">ADHD</a></li>
    <li><a class="nav css3button" id="leaflet" rel="preconnect" href="/leaflet">ME</a></li>
  </ul>
</nav>